body {
  margin: 0;
}

.container {
  /* margin: 20px; */
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
}

.menu > div {
  flex: 1;
  margin: 20px;
}

.clicker {
  width: 50vw;
  height: 50vw;
  background: #509ab5;
  background-image: radial-gradient(
      at 5% 81%,
      hsl(244, 98%, 31%) 0px,
      transparent 50%
    ),
    radial-gradient(at 25% 85%, hsl(38, 61%, 32%) 0px, transparent 50%),
    radial-gradient(at 12% 60%, hsl(218, 57%, 34%) 0px, transparent 50%),
    radial-gradient(at 78% 11%, hsl(35, 96%, 91%) 0px, transparent 50%),
    radial-gradient(at 44% 72%, hsl(210, 53%, 36%) 0px, transparent 50%);
  border-radius: 50%;
  border: none;
}
