body {
  margin: 0;
}

.container {
  /* margin: 20px; */
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
}

.menu > div {
    flex: 1;
    margin: 20px;
}