body {
  margin: 0;
}

.container {
  /* margin: 20px; */
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
}

.menu > div {
  flex: 1;
  margin: 20px;
}

.clicker {
  width: 60vw;
  height: 60vw;

  background: radial-gradient(50% 50% at 50% 50%, #2e2787, #101013 100%);
  border-radius: 50%;
  border: 20px solid #141417;
}

.count {
  position: fixed;
  animation: fadeOutUp;
  animation-duration: 1.5s;
}
